{
  "extends": "airbnb",
  "rules": {
        "linebreak-style": [1, "windows"],
        "no-param-reassign": 0,
        "no-undef": 0,
        "no-restricted-syntax": 0,
        "no-unused-expressions": 0,
        "eqeqeq": 0,
        "func-names": 0
    },
  "env": {
    "browser": true,
}
}
